<div id="drinks" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="box drink drink-default">

      <div class="drink-body">
        <h2><%= link_to product.name, product %></h2>

      </div>
    </div>
  <% end %>
</div>
